:host {
    form {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        mat-form-field {
            width: 100%;
            margin-bottom: 30px;
        }
    }
    
    button {
        width: 100%;
    }
}